<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product name="Bitbucket Manager" application="at.bestsolution.efxclipse.runtime.workbench.fx.application" >
		<property name="appName" value="Bitbucket Manager" />
		
		<property name="applicationXMI" value="at.bestsolution.bitbucketmgr.app/Application.e4xmi" />
		
		<property name="cssTheme" value="theme.default" />
  <property
        name="lifeCycleURI"
        value="bundleclass://at.bestsolution.bitbucketmgr.app/at.bestsolution.bitbucketmgr.app.LifecycleHandler">
  </property>
		
	</product>
	
</extension>
<extension  point="at.bestsolution.efxclipse.runtime.theme">
	<theme id="theme.default" basestylesheet="css/default.css" />
	
</extension>
</plugin>
